<launch>
    <include file="$(find stingray_camera)/launch/triton_amcl.launch" />
    <include file="$(find leg_detector)/launch/filtered_leg_detector.launch"/>

    <node pkg="603-GP" type="image_processing.py" name="triton_follower"/>
    
    <node pkg="map_server" type="map_server" name="map_server" args="$(find 603-GP)/map/map.yaml" />
</launch>